{% load static %}
    <style>
        @font-face{
            font-family:'digital-7';
            src: url('{% static "assets/digital-7.ttf" %}');
           }
    </style>
    <script>
        var selectedClockElement = null
        var TwelveHourFormatOn = true
    </script>
    <div class="col-lg-6 mb-4" id="clock_element_container">
    <div class="card shadow-custom mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">CLOCK</h6>                                        
        </div>
            <div class="card-header">
                <input class="w-100" type="color" oninput="changeClockElementFontColor(event)" id="favcolor" name="favcolor" value="#ff0000">
            </div>
            <div class="card-header dropdown">
                <button class="w-100 btn btn-outline-primary dropdown-toggle" type="button" id="ClockfontDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Font Family
                </button>
                <div class="dropdown-menu" aria-labelledby="fontDropdown">
                    <a class="dropdown-item font-dropdown-item" href="#" data-font="Orbitron">Orbitron</a> 
                    <a class="dropdown-item font-dropdown-item" href="#" data-font="Arial, sans-serif">Arial</a>
                    <a class="dropdown-item font-dropdown-item" href="#" data-font="Helvetica, sans-serif">Helvetica</a>
                    <a class="dropdown-item font-dropdown-item" href="#" data-font="Times New Roman, serif">Times New Roman</a>
                    <a class="dropdown-item font-dropdown-item" href="#" data-font="Courier New, monospace">Courier New</a>
                    <a class="dropdown-item font-dropdown-item" href="#" data-font="Verdana, sans-serif">Verdana</a>                        
                </div>
            </div>
            <div class="card-header dropdown">
                <select class="form-control form-select" aria-label="Default select example" oninput="clock_element_alignment_changed(event)">
                    <option selected value="default">Select Alignment</option>
                    <option value="left">Left</option>
                    <option value="center">Center</option>
                    <option value="right">Right</option>
                    <option value="justify">Justify</option>
                    <script>
                        async function clock_element_alignment_changed(event){
                            if(event.target.value !== 'default'){
                                $('#clock_element_container .clock_element_output').css('text-align', event.target.value);
                            }
                        }
                    </script>
                  </select>
            </div>
            <div class="card-header dropdown bg-success" id="add_clock_element_into_view">
                <div class="input-group">
                    <select class="form-select" aria-label="Default select example" id="select_clock_element_into_view">
                        <option selected>Select Element</option>
                        <option value="time">Time</option>
                        <option value="date">Date</option>
                        <option value="timezone">Timezone</option>
                    </select>
                    <button class="input-group-text btn btn-outline-danger" onclick="add_clock_element_into_view(event)">Add</button>
                    <script>
                        async function add_clock_element_into_view(event){
                            let element = $('#select_clock_element_into_view').val()
                            console.log(element)
                            $('.clock_element_output_container #clock_element_output').html('')
                            if(element == 'time'){
                                $('.clock_element_output_container #clock_element_output').append($(`<div class="12hourformattime" id="clock_output_inner_div"></div>`))
                            }else if(element == 'date'){                                
                                $('.clock_element_output_container #clock_element_output').append($(`<div class="" id="date_output_inner_div"></div>`))
                            }else if(element == 'timezone'){
                                $('.clock_element_output_container #clock_element_output').append($(`<div class="" id="timezone_output_inner_div"></div>`))
                            }
                        }
                    </script>
                </div>   
            </div>
            <div class="card-header dropdown">               
                <select class="form-control form-select" aria-label="Default select example" oninput="clock_hour_format_changed(event)">
                    <option selected value="default">Select Format</option>
                    <option value="12_hour_format">12 Hour</option>
                    <option value="24_hour_format">24 Hour</option>                    
                    <script>
                        async function clock_hour_format_changed(event){
                            if(event.target.value !== 'default'){
                                if($('#clock_output_inner_div').hasClass('12hourformattime')){
                                    $('#clock_output_inner_div').addClass('24hourformattime')
                                    $('#clock_output_inner_div').removeClass('12hourformattime')
                                }else{
                                    $('#clock_output_inner_div').removeClass('24hourformattime')
                                    $('#clock_output_inner_div').addClass('12hourformattime')
                                }
                            }
                        }
                    </script>
                  </select>
            </div>
        <!-- Card Body -->
        <div class="card-body">            
            <div class="row mb-3">
                <div class="col">
                    <div class="card clock_element_output_container article">
                        <div class="card-body clock_element_output element" style="color: #17D4FE;font-size: 30px;font-family: 'digital-7', sans-serif;letter-spacing: 7px;" id="clock_element_output"></div>
                    </div>
                </div>
              </div>
        </div>
        <script>
            //async function clock_element_selected(el){
            //   $(el).toggleClass('add_border_clock')
            //}
        </script>
        <div class="card-footer clock_element_footer" style="display: hidden;">            
            <div class="form-group">
                <label for="program_select">Active Programs</label>
                <div class="send_program_view row " style="justify-content: space-around; gap:10px;">
                    <select class="col-sm-7 col-md-7 col-lg-7 form-control program_footer" id="">
                    </select>
                    <button class="col-sm-3 col-md-3 col-lg-3 btn btn-outline-primary" onclick="clock_element_program_value_changed(event)">Send</button>
                </div>
            </div>        
        </div>            
    </div>
    <script>         
        async function clock_element_program_value_changed(event){
            let program_name = $(event.target).parent().find('select').val()                                
            let element_html = $('.clock_element_output_container').html()
            if (program_name != 'default'){
                if(ws_program_and_elements){
                    ws_program_and_elements.send(JSON.stringify({
                        client:'dashboard',
                        page:'controller',
                        action:'add_element',                                
                        'element_name':'clock_element',
                        'program_name':program_name,
                        'element_html':element_html
                    }))
                }
            }
        }                
    </script>
    
</div>   
<script>        
    async function showTime() {
        var date = new Date();
        var h = date.getHours(); // 0 - 23
        var m = date.getMinutes(); // 0 - 59
        var s = date.getSeconds(); // 0 - 59
        var day = date.getDate(); // 1 - 31
        var month = date.getMonth() + 1; // 0 - 11 (January is 0, so we add 1)
        var year = date.getFullYear();

        var options = { timeZoneName: 'short' };
        var fullTimezone = date.toLocaleString('en-US', options);

        var session = (h >= 12) ? "PM" : "AM";
        var formattedHour12 = (h % 12) || 12; // Convert to 12-hour format
        var formattedHour24 = h;

        m = (m < 10) ? "0" + m : m;
        s = (s < 10) ? "0" + s : s;

        var time12Hour = formattedHour12 + ":" + m + ":" + s + " " + session;
        var time24Hour = formattedHour24 + ":" + m + ":" + s;
        
        // Insert time into the clock div
        $('.12hourformattime').text(time12Hour);
        $('.24hourformattime').text(time24Hour);

        // Format the date as "MM/DD/YYYY"
        var formattedDate = (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day + '/' + year;

        // Insert the date into the date div
        $('#date_output_inner_div').text(formattedDate);

        var timezone = fullTimezone.split(' ')[3]; // Split the string and take the second part
        $('#timezone_output_inner_div').text(timezone);

        setTimeout(showTime, 1000);
    }
    
    showTime();
</script> 
<script>
    // Get the font selection dropdown item links
    async function changeClockElementFontColor(event){                                
            $('#clock_element_output').css('color', event.target.value);
    }
    let ClockfontLinks = document.querySelectorAll('#clock_element_container .font-dropdown-item');
    
    // Get the text container div
    let ClockContainer = $('#clock_element_container .clock_element_output');

    // Add an event listener to the dropdown item links
    ClockfontLinks.forEach(link => {
        link.addEventListener('click', function (event) {
            event.preventDefault();
            let selectedFont = this.getAttribute('data-font');
            console.log(selectedFont)
            ClockContainer.css('font-family',selectedFont)
            document.querySelector('#ClockfontDropdown').textContent = this.textContent;
        });
    });
</script>

<!-- row -->