{% load static %}
<div class="col-lg-6 mb-4" id="table_element_container">
        <div class="card shadow-custom mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">States</h6>                                        
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" colspan="1" style="max-width: 10px;max-height: 10px;"><img style="width: 100%; height: 100%;" src="{% static 'assets/gifs/AARTI IND LOGO unnamed.gif' %}" alt=""></th>
                        <th scope="col" colspan="2" style="text-align: center;">First</th>                        
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                      <tr>                        
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>                        
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>                        
                        <td>Larry the Bird</td>
                        <td>@twitter</td>
                        <td>@short</td>
                      </tr>
                    </tbody>
                  </table>
            </div>            
        </div>
</div>            