{% load static %}
<div class="col-lg-6 mb-4" id="table_element_container">
        <div class="card shadow-custom mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">States</h6>                                        
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="col-xl-12 col-lg-12 mt-4 chart_forms" id="states_form_container">
                <div class="card shadow mb-4 text-center">
                    <!-- Card Header - Dropdown -->
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="input-group mb-3 align-items-center justify-content-center states_data_checkboxed">                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlinecheckboxBPRS" value="BPRS" oninput="states_element_checkboxes(this)" unit="mBa">
                                <label class="form-check-label" for="inlineCheckbox2">BPRS</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlinecheckboxHUMD" value="HUMD" oninput="states_element_checkboxes(this)" unit="Per">
                                <label class="form-check-label" for="inlineCheckbox2">HUMD</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlinecheckboxSRAD" value="SRAD" oninput="states_element_checkboxes(this)" unit="pm²">
                                <label class="form-check-label" for="inlineCheckbox2">SRAD</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlinecheckboxATMP" value="ATMP" oninput="states_element_checkboxes(this)" unit="degC">
                                <label class="form-check-label" for="inlineCheckbox2">ATMP</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlinecheckboxWSPD" value="WSPD" oninput="states_element_checkboxes(this)" unit="Kmph">
                                <label class="form-check-label" for="inlineCheckbox2">WSPD</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlinecheckboxRAIN" value="RAIN" oninput="states_element_checkboxes(this)" unit="mm">
                                <label class="form-check-label" for="inlineCheckbox2">RAIN</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlinecheckboxWDIR" value="WDIR" oninput="states_element_checkboxes(this)" unit="deg">
                                <label class="form-check-label" for="inlineCheckbox2">WDIR</label>
                            </div>
                        </div>  
                        <button class="btn btn-outline-success d-block w-100 mb-3" onclick="get_states_element()">Send</button>
                        <button class="btn btn-outline-warning d-block w-100 mb-3" onclick="clear_the_tabel()">Clear</button>
                        <script>                          
                          async function states_element_checkboxes(el){
                              if($('.states_data_checkboxed input[type="checkbox"]:checked').length > 4){
                                $(el).prop('checked',false)
                                alert("Select only up to 4 params at a time")
                              }
                          }
                        </script>                        
                        <script>                            
                        ParamObjs = {
                            WSPD:'km/h',
                            WDIR:'deg',
                            ATMP:'degC',
                            HUMD:'perc',
                            
                        }
                        async function get_states_element(){
                            let SelectedParams = $('.states_data_checkboxed input[type="checkbox"]:checked')
                                                        
                            if($('.states_data_checkboxed input[type="checkbox"]:checked').length <=3){
                                const values = SelectedParams.map((index, el) => {
                                    return $(el);
                                }).get();
                                values.forEach((e,i) => {
                                    let paramTemplate = `<div class="table_prams d-flex justify-content-between" style="border-top: 0.06cm solid white;margin-top:0.05cm;">
                                        <div style="font-weight:1000; display:inline-block;color: red; font-size: 0.29cm !important">
                                            ${e.val()}(${e.attr('unit')})
                                        </div>
                                        <div
                                            style="display:inline-block;text-align: center; color: white; font-size: 0.32cm !important; font-weight:1000"
                                            class="${e.val()}_table_val"
                                        ></div>
                                        <div
                                            style="display:inline-block;text-align: center; font-size: 0.32cm !important;font-weight:1000; color: white"
                                            class="${e.val()}_table_avg"
                                        >
                                        </div>
                                        </div>
`
                                    let paramEl = $(paramTemplate)
                                    if($('.table_element_output_container .table_prams').length <3){
                                        $('.table_element_output_container .table_element_body_container').append(paramEl)
                                        $('#table_element_container .table_element_footer').show()
                                    }else{
                                        alert("Table is full")
                                        return false                                        
                                    }
                                })
                                
                            }else{
                                alert("Select Up to 4 parameters")
                            }
                        }
                        async function clear_the_tabel(){
                            $('.table_element_output_container .table_prams').remove()
                            $('#table_element_container .table_element_footer').hide()
                        }
                        </script>
                    </div>
                </div>
            </div>
            <!-- Started -->
            <div class="col-xl-12 col-lg-12 mt-4 chart_forms" id="states_form_container">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <!-- Card Body -->
                    <div class="card-body">
                        <style>
                        .table_element_output tr td th table{
                            margin: 0 !important;
                            padding: 0 !important;
                        }
                        .table-group-divider-custom{
                            border-top: calc(var(--bs-border-width) * 2) solid white;
                        }
                        </style>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="card table_element_output_container article align-items-center">
                                    <div class="card-body table_element_output element" id="table_element_output">
                                        <div id="table_element_output_div" style="width: 5.08cm; height: 4.23cm; max-width: 5.08cm; max-height: 4.23cm; overflow: hidden; line-height: 1.5;background-color: black; color: black;">
                                            <div>
                                              <div>
                                                <div class="d-flex justify-content-evenly flex-column" style="color: red;">          
                                                  <div style="display: inline-block; width: 100%; text-align: center;"><img style="width: 0.5cm; height: 0.5cm;" src="{% static 'assets/gifs/AARTI-IND-LOGO-unnamed-unscreen.gif' %}" alt=""></div>
                                                  <div style="display: inline-block;font-weight: bolder; font-size:0.35cm !important;text-align:center;">AARTI INDUSTRIES LIMITED</div>
                                                  <!-- <div style="display: inline-block; font-weight: 1000; font-size:0.2cm !important;text-align:center;margin-left: 0.4cm;vertical-align: text-top;" id="TableElementRTC"></div> -->
                                                </div>
                                                <div class="d-flex justify-content-evenly" style="color: cyan;  border-top: 0.06cm solid white;">          
                                                  <div scope="col" colspan="4" style="text-align:center; font-size: 0.27cm !important; font-weight: 1000;">WEATHER MONITORING SYSTEM</div>
                                                </div>
                                            </div>
                                              <div class="table_element_body_container">
                                                <div class="d-flex justify-content-between" style="line-height:0.3cm; border-top: 0.06cm solid white; color: cyan;">
                                                    <div style="font-size:0.27cm !important; font-weight: 1000; display: inline-block;">PARAMETER</div>
                                                    <div style="text-align:center; font-size: 0.27cm !important;margin-left:-0.2cm; font-weight: 1000; display: inline-block;">VALUE</div>
                                                    <div style="text-align:center; font-size: 0.27cm !important; font-weight: 1000; display: inline-block;">AVG</div>    
                                                </div>
                                            </div>
                                            </div>     
                                        </div>                                     
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div>
                    <div class="card-footer table_element_footer" style="display: hidden;">
                        <script>
                            $(document).ready(function () {
                                // Select the element with class "text_element_footer" and hide it
                                $(this).find('.table_element_footer').hide();
                            });
                        </script>
                        <div class="form-group">
                            <label for="program_select">Active Programs</label>
                            <div class="send_program_view row " style="justify-content: space-around; gap:10px;">
                                <select class="col-sm-7 col-md-7 col-lg-7 form-control program_footer" id="">
                                </select>
                                <button class="col-sm-3 col-md-3 col-lg-3 btn btn-outline-primary" onclick="table_element_program_value_changed(event)">Send</button>
                            </div>
                        </div>        
                    </div>  
                </div>
            </div>
            <!-- Ended -->
            </div>            
        </div>
        <script>
            setInterval(() => {
                var date = new Date();
                var h = date.getHours(); // 0 - 23
                var m = date.getMinutes(); // 0 - 59
                var s = date.getSeconds(); // 0 - 59
                var session = "AM";
                
                if(h == 0){
                    h = 12;
                }
                
                if(h > 12){
                    h = h - 12;
                    session = "PM";
                }
                
                h = (h < 10) ? "0" + h : h;
                m = (m < 10) ? "0" + m : m;
                s = (s < 10) ? "0" + s : s;
                let year = `${date.getDate()}-${date.getMonth()+1}-${date.getFullYear()} `                
                let time = h + ":" + m + ":" + s + " ";
                $('#TableElementRTC').html(`${year} <br> ${time}`);
            }, 1000);                    
        </script>
        <script>
            async function table_element_program_value_changed(event){
                let program_name = $(event.target).parent().find('select').val()                                
                let element_html = $('.table_element_output_container').html()
                console.log(element_html)
                if (program_name != 'default'){
                    if(ws_program_and_elements){
                        ws_program_and_elements.send(JSON.stringify({
                            client:'dashboard',
                            page:'controller',
                            action:'add_element',                                
                            'element_name':'table_element',
                            'program_name':program_name,
                            'element_html':element_html
                        }))
                    }
                }
            } 
        </script>
</div>            