{% load static %}
<script>
  // globals
  var resetPlottingContainer = null;
  var dateRangeArr = [];
</script>
<div class="col-lg-12 mb-4" id="container_rs485">
  <div class="card bg-light shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
    >
      <h6 class="m-0 font-weight-bold text-primary">RS485</h6>
      <select
        class="form-select w-50 485_param_select d-none"
        aria-label="parameters_select"
        id="parameters_select_rs485"
        oninput="parameters_select_rs485_changed(event)"
      ></select>
    </div>
    <!-- Card Body -->
    <div class="rs485-body">
      <div class="card-body">
        <div class="404_gif text-center">
          <img
            src='{% static "assets/gifs/404.gif" %}'
            style="
              height: 100%;
              width: 100%;
              max-width: 500px;
              max-height: 500px;
            "
            alt=""
            srcset=""
          />
        </div>
        <div class="485_content d-none">
          <div class="row">
            <div class="col-lg-12 mb-4">
              <div class="card bg-light shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-body">
                  <div
                    class="chart-area d-flex"
                    style="justify-content: center; align-items: center"
                  >
                    <canvas
                      id="rs485live_data"
                      style="width: 100%; height: auto"
                    ></canvas>
                  </div>
                </div>
              </div>
            </div>
            <!-- Plot -->
            <div id="plottingcontainer"> 
              <script>
                document.addEventListener("DOMContentLoaded", function () {
                  plottingcontainerinit = document.getElementById("plottingcontainer").innerHTML;
                  resetPlottingContainer = () => {
                    document.getElementById("plottingcontainer").innerHTML = plottingcontainerinit
                  }
                });
              </script>
              <div class="card-header text-center py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="card border-secondary mb-3 w-100">
                  <div class="card-header">Charts</div>
                  <div class="card-body text-secondary">
                    <div
                      class="btn-group row w-100"
                      role="group"
                      aria-label="Basic mixed styles example"
                    >
                    <form id="dateRangeForm" onchange="date_range_changed(event)">
                      <div class="input-group mb-3">
                          <input type="datetime-local" class="form-control" id="plotstartdate" placeholder="Start Date" aria-label="Start Date" onchange="set_ranges(event); disableStartDate(event)">
                          <span class="input-group-text">To</span>
                          <input type="datetime-local" class="form-control" id="plotenddate" placeholder="End Date" aria-label="End Date" onchange="set_ranges(event)" disabled>
                      </div>
                  </form>
                  <script>
                    function set_ranges(event){
                          if(event.target.getAttribute('id') == 'plotstartdate'){
                              document.getElementById('plotenddate').disabled = false;

                              // Use the Date object for date manipulation
                              const startDate = new Date(event.target.value);
                              const endDate = new Date(startDate);
                              endDate.setDate(startDate.getDate() + 1);

                              // Format the endDate to match the datetime-local format
                              const endDateString = endDate.toISOString().slice(0, 16);

                              document.getElementById('plotenddate').min = endDateString;
                          }
                      }

                      function disableStartDate(event) {
                          event.target.disabled = true;
                      }

                      function date_range_changed(event){
                          allSet = 0      
                          dateRangeArr = []                    
                          var inputElements = document.getElementById('dateRangeForm').querySelectorAll('input');                
                          inputElements.forEach(function(element) {
                              if(element.value){
                                element.disabled = true
                                dateRangeArr.push(new Date(element.value).getTime());
                                allSet ++
                              }
                          });
                          if(allSet >= 2){   
                            console.log(dateRangeArr)                         
                            $('#plotOptionsDiv').show()
                          }
                      }
                  </script>
                      <div id="plotOptionsDiv" class="" style="justify-content: space-evenly; flex-wrap: wrap" >
                        <script>
                          $('#plotOptionsDiv').hide()
                        </script>
                        <button
                          type="button"
                          class="col-3 btn btn-outline-dark"
                          data-toggle="collapse"
                          data-target="#windrosecollapse"
                          aria-expanded="false"
                          aria-controls="windrosecollapse"
                        >Windrose</button>
                        <button
                          type="button"
                          class="col-3 btn btn-outline-dark"
                          data-toggle="collapse"
                          data-target="#linecollapse"
                          aria-expanded="false"
                          aria-controls="linecollapse"
                        >Line</button>
                        <button
                          type="button"
                          class="col-3 btn btn-outline-dark"
                          data-toggle="collapse"
                          data-target="#areacollapse"
                          aria-expanded="false"
                          aria-controls="areacollapse"
                        >Area</button>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-muted btn border-primary" onclick="resetPlottingContainer()">Reset</div>
                </div>
              </div>
              <!-- Collapses -->
            <div class="collapse" id="areacollapse">
              <div class="d-flex my-3" style="flex-direction: column">
                <div class="d-flex" style="justify-content: space-evenly">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="areachartparam"
                      id="HUMD"
                      value="HUMD"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                      HUMD
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="areachartparam"
                      id="SRAD"
                      value="SRAD"
                    />
                    <label class="form-check-label" for="flexRadioDefault2">
                      SRAD
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="areachartparam"
                      id="BPRS"
                      value="BPRS"
                    />
                    <label class="form-check-label" for="flexRadioDefault2">
                      BPRS
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="areachartparam"
                      id="DWPT"
                      value="DWPT"
                    />
                    <label class="form-check-label" for="flexRadioDefault2">
                      DWPT
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="areachartparam"
                      id="RAIN"
                      value="RAIN"
                    />
                    <label class="form-check-label" for="flexRadioDefault2">
                      RAIN
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="areachartparam"
                      id="WSPD"
                      value="WSPD"
                    />
                    <label class="form-check-label" for="flexRadioDefault2">
                      WSPD
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="areachartparam"
                      id="ATMP"
                      value="ATMP"
                    />
                    <label class="form-check-label" for="flexRadioDefault2">
                      ATMP
                    </label>
                  </div>
                  
                </div>
                <button
                  class="btn btn-outline-dark d-block w-100"
                  onclick="get_the_area_chart()"
                >
                  Get The Chart
                </button>
              </div>
            </div>
            <div class="collapse" id="linecollapse">
              <div
                class="col-xl-12 col-lg-12 mt-4 chart_forms"
                id="line_form_container"
              >
                <div class="card shadow mb-4 text-center">
                  <!-- Card Header - Dropdown -->
                  <!-- Card Body -->
                  <div class="card-body">
                    <div
                      class="input-group mb-3 align-items-center justify-content-center line_chart_checkboxed"
                    >
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlinecheckboxAll"
                          value="select_all"
                          onclick="line_chart_checkboxes(this)"
                        />
                        <label class="form-check-label" for="inlineCheckbox1"
                          >Select All</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlinecheckboxDWPT"
                          value="DWPT"
                          onclick="line_chart_checkboxes(this)"
                        />
                        <label class="form-check-label" for="inlineCheckbox1"
                          >DWPT</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlinecheckboxWDCH"
                          value="WDCH"
                          onclick="line_chart_checkboxes(this)"
                        />
                        <label class="form-check-label" for="inlineCheckbox2"
                          >WDCH</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlinecheckboxBPRS"
                          value="BPRS"
                          onclick="line_chart_checkboxes(this)"
                        />
                        <label class="form-check-label" for="inlineCheckbox2"
                          >BPRS</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlinecheckboxHUMD"
                          value="HUMD"
                          onclick="line_chart_checkboxes(this)"
                        />
                        <label class="form-check-label" for="inlineCheckbox2"
                          >HUMD</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlinecheckboxSRAD"
                          value="SRAD"
                          onclick="line_chart_checkboxes(this)"
                        />
                        <label class="form-check-label" for="inlineCheckbox2"
                          >SRAD</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlinecheckboxATMP"
                          value="ATMP"
                          onclick="line_chart_checkboxes(this)"
                        />
                        <label class="form-check-label" for="inlineCheckbox2"
                          >ATMP</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlinecheckboxWSPD"
                          value="WSPD"
                          onclick="line_chart_checkboxes(this)"
                        />
                        <label class="form-check-label" for="inlineCheckbox2"
                          >WSPD</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlinecheckboxWSPD"
                          value="RAIN"
                          onclick="line_chart_checkboxes(this)"
                        />
                        <label class="form-check-label" for="inlineCheckbox2"
                          >RAIN</label
                        >
                      </div>
                    </div>
                    <button
                      class="btn btn-outline-dark d-block w-100"
                      onclick="get_the_line_chart()"
                    >
                      Get The Chart
                    </button>
                    <script>
                      async function line_chart_checkboxes(el) {
                        if (el.value == "select_all") {
                          if ($(el).prop("checked") == false) {
                            $(
                              '.line_chart_checkboxed input[type="checkbox"]'
                            ).prop("checked", false);
                          } else {
                            $(
                              '.line_chart_checkboxed input[type="checkbox"]'
                            ).prop("checked", true);
                          }
                        }
                      }
                      async function get_the_line_chart() {
                        selected_params = [];
                        $('.line_chart_checkboxed input[type="checkbox"]').each(
                          (i, el) => {
                            if ($(el).prop("checked")) {
                              if ($(el).val() !== "select_all") {
                                selected_params.push($(el).val());
                              }
                            }
                          }
                        );
                        if (ws_serial_communcation_rs485) {
                          ws_serial_communcation_rs485.send(
                            JSON.stringify({
                              client: "consumer",
                              action: "get_line_chart",
                              device: "rs485",
                              daterange:dateRangeArr,
                              params: selected_params,
                            })
                          );
                          $("#chart_container_rs485")
                            .find("img")
                            .attr(
                              "src",
                              `${window.location.origin}/media/loading.gif`
                            );
                          $("#stats_df_container_rs485")
                            .find("img")
                            .attr(
                              "src",
                              `${window.location.origin}/media/loading.gif`
                            );
                          $("#linecollapse").collapse("hide");
                        }
                      }
                      async function get_the_area_chart() {
                        let areaChartParam = $(
                          'input[name="areachartparam"]:checked'
                        ).val();
                        if (ws_serial_communcation_rs485) {
                          console.log(ws_serial_communcation_rs485);
                          ws_serial_communcation_rs485.send(
                            JSON.stringify({
                              client: "consumer",
                              action: "get_area_chart",
                              device: "rs485",
                              daterange:dateRangeArr,
                              value: areaChartParam,
                            })
                          );
                          $("#chart_container_rs485")
                            .find("img")
                            .attr(
                              "src",
                              `${window.location.origin}/media/loading.gif`
                            );
                          $("#stats_df_container_rs485")
                            .find("img")
                            .attr(
                              "src",
                              `${window.location.origin}/media/loading.gif`
                            );
                          $("#areacollapse").collapse("hide");
                        }
                      }
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse" id="windrosecollapse" onload="windrosecollapse_loaded()" >
              <div
                class="col-xl-12 col-lg-12 mt-4 chart_forms"
                id="windrose_form_container"
              >
                <div class="card shadow mb-4 text-center">
                  <!-- Card Header - Dropdown -->
                  <!-- Card Body -->
                  <div class="card-body">
                    <form
                      id="windrose_customization"
                      onsubmit="windrose_form_submitted(event)"
                    >
                      <div class="mb-3" id="wind_range_count_container">
                        <div
                          class="input-group mb-3"
                          id="add_windrose_range_container"
                        >
                          <input
                            type="number"
                            class="form-control"
                            min="0"
                            max="8"
                            step="1"
                            placeholder="Specify Number Of Range Elements"
                            aria-describedby="basic-addon2"
                            id="range_element_count"
                            required
                          />
                          <span
                            class="btn btn-danger"
                            id="range-count-btn"
                            onclick="add_range_elements()"
                            >Add</span
                          >
                        </div>
                      </div>
                      <div class="mb-3" id="wind_range_el_container"></div>
                      <div class="mb-3 d-none" id="get_windrose_button">
                        <button type="submit" class="btn btn-primary w-100">
                          Get Windrose
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Collapses -->
            </div>

            

            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <!-- Card Body -->
                <div class="card-body">
                  <div
                    class="chart-area d-flex"
                    style="justify-content: center; align-items: center"
                    id="chart_container_rs485"
                  >
                    <img
                      src='{% static "img/pie_chart.png" %}'
                      alt=""
                      id="no_plot_svg"
                      style="width: auto; height: 100%"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->

                <!-- Card Body -->
                <div class="card-body">
                  <div
                    class="chart-area d-flex"
                    style="justify-content: center; overflow: scroll"
                    id="stats_df_container_rs485"
                  >
                    <img
                      src='{% static "img/pie_chart.png" %}'
                      alt=""
                      id="no_plot_svg"
                      style="width: auto; height: 100%"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- Plot -->
            <script>
              async function show_windrose_form() {
                // $("#windrose_form_container").removeClass("d-none");
                // await get_windrose_chart_rs485(false, false);
              }
              async function show_line_form() {
                $("#line_form_container").removeClass("d-none");
              }
              async function get_windrose_chart_rs485(values, colors) {
                if (ws_serial_communcation_rs485) {
                  ws_serial_communcation_rs485.send(
                    JSON.stringify({
                      client: "consumer",
                      device: "rs485",
                      action: "get_windrose",
                      device: "rs485",
                      values: values,
                      daterange:dateRangeArr,
                      colors: colors,
                    })
                  );
                }
                $("#chart_container_rs485")
                  .find("img")
                  .attr("src", `${window.location.origin}/media/loading.gif`);
                $("#stats_df_container_rs485")
                  .find("img")
                  .attr("src", `${window.location.origin}/media/loading.gif`);
                $("#windrosecollapse").collapse("hide");
              }
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  //var uniqueColors = ['red','blue','green','purple','orange','cyan','pink','magenta','yellow','brown','teal','olive','navy','lime','maroon','gold'];
  var weatherData = {
    BPRS: [
      "Barometric Pressure",
      `${window.location.origin}/media/icons/BPRS.png`,
      'mBa'
    ],
    WSPD: ["Wind Speed", `${window.location.origin}/media/icons/WSPD.png`,'Kmph'],
    WDIR: ["Wind Direction", `${window.location.origin}/media/icons/WDIR.jpg`,'deg'],
    ATMP: ["Air Temperature", `${window.location.origin}/media/icons/ATMP.jpg`,'degC'],
    HUMD: [
      "Relative Humidity",
      `${window.location.origin}/media/icons/HUMD.jpg`,
      'Per'
    ],
    RAIN: ["Rainfall", `${window.location.origin}/media/icons/RAIN.png`,'mm'],
    SRAD: ["Solar Radiation", `${window.location.origin}/media/icons/SRAD.png`,'pm²'],
    WDCH: ["Wind Chill", `${window.location.origin}/media/icons/WDCH.png`,'degC'],
    DWPT: [
      "Dew Point Temperature",
      `${window.location.origin}/media/icons/DWPT.png`,'degC',
    ],
    P12: ["Parameter 12", `${window.location.origin}/media/icons/default.png`],
    P13: ["Parameter 13", `${window.location.origin}/media/icons/default.png`],
    P14: ["Parameter 14", `${window.location.origin}/media/icons/default.png`],
    P15: ["Parameter 15", `${window.location.origin}/media/icons/default.png`],
    P16: ["Parameter 16", `${window.location.origin}/media/icons/default.png`],
  };
  var min_max = {
    WSPD: [0, 0],
    WDIR: [0, 0],
    ATMP: [0, 0],
    HUMD: [0, 0],
    RAIN: [0, 0],
    SRAD: [0, 0],
    BPRS: [0, 0],
    WDCH: [0, 0],
    DWPT: [0, 0],
    P12: [0, 0],
    P13: [0, 0],
    P14: [0, 0],
    P15: [0, 0],
    P16: [0, 0],
  };
  var rs485_live_chart = null;
  var currently_showring_chart = null;
  var current_rs485_frame = null;
  var rs_485_chart_data = {
    labels: [],
    datasets: [],
  };
  async function make_live_rs485_chart(stream) {
    // Set min max
    if (rs485_live_chart == null) {
      currently_showring_chart =
        currently_showring_chart == null ? "BPRS" : currently_showring_chart;
      for (let i in stream) {
        if (i == "RTC") {
          let date = new Date(stream[i]);
          let hour = date.getHours();
          let minutes = date.getMinutes();
          let seconds = date.getSeconds();
          rs_485_chart_data.labels.push(`${hour}:${minutes}:${seconds}`);
        } else {
          if (i == currently_showring_chart) {
            // set min max
            let value = parseFloat(stream[i]).toFixed(2);
            min_max[currently_showring_chart][0] = value;
            min_max[currently_showring_chart][1] = value;
            let label = `${weatherData[currently_showring_chart][0]} (${weatherData[currently_showring_chart][2]}) Min : ${min_max[currently_showring_chart][0]} Max: ${min_max[currently_showring_chart][1]}`;
            $("#currently_showing_param_value_rs485").text(value);
            let obj = {
              label: label,
              borderColor: "green",
              data: [stream[i]],
              fill: true,
              borderJoinStyle: "round",
            };
            rs_485_chart_data.datasets.push(obj);
          }
        }
      }
      var chartOptions = {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          x: {
            scaleLabel: {
              display: true,
              labelString: "X-axis",
            },
          },
          y: {
            scaleLabel: {
              display: true,
              labelString: "Y-axis",
            },
          },
        },
      };
      var ctx = document.getElementById("rs485live_data").getContext("2d");
      rs485_live_chart = new Chart(ctx, {
        type: "line",
        data: rs_485_chart_data,
        options: chartOptions,
      });
    } else {
      let rs485keys = Object.keys(stream);
      for (var index in rs485keys) {
        var key = rs485keys[index];
        var value = stream[key];
        if (key != "RTC") {
          if (
            rs485_live_chart.data.datasets[0] &&
            key == currently_showring_chart
          ) {
            if (min_max[currently_showring_chart][0] > value) {
              min_max[currently_showring_chart][0] =
                parseFloat(value).toFixed(2);
            }
            if (min_max[currently_showring_chart][1] < value) {
              min_max[currently_showring_chart][1] =
                parseFloat(value).toFixed(2);
            }
            value = parseFloat(value).toFixed(2);
            $("#currently_showing_param_value_rs485").text(value);
            let label = `${weatherData[currently_showring_chart][0]} (${weatherData[currently_showring_chart][2]}) Min : ${min_max[currently_showring_chart][0]} Max: ${min_max[currently_showring_chart][1]}`;
            rs485_live_chart.data.datasets[0].label = label;
            rs485_live_chart.data.datasets[0].data.push(value);
            if (rs485_live_chart.data.datasets[0].data.length > 30) {
              rs485_live_chart.data.datasets[0].data.shift();
            }
          }
        } else {
          let date = new Date(value);
          let hour = date.getHours();
          let minutes = date.getMinutes();
          let seconds = date.getSeconds();
          rs485_live_chart.data.labels.push(`${hour}:${minutes}:${seconds}`);
        }
      }
      if (rs485_live_chart.data.labels.length > 30) {
        rs485_live_chart.data.labels.shift();
      }
      rs485_live_chart.update();
    }
  }
  async function SerialCommunicationRS485() {
    if ("WebSocket" in window) {
      // Let us open a web socket
      ws_serial_communcation_rs485 = new WebSocket(
        `ws://${window.location.host}/ws/serial_communication/consumer/`
      );
      window.rs485_data_socket = ws_serial_communcation_rs485;
      ws_serial_communcation_rs485.onopen = async function () {
        ws_serial_communcation_rs485.send(
          JSON.stringify({
            client: "consumer",
            device: "rs485",
            action: "connection",
          })
        );
      };

      ws_serial_communcation_rs485.onmessage = async function (evt) {
        let received_msg = JSON.parse(evt.data);
        if (
          received_msg.action == "stream" &&
          received_msg.frame &&
          received_msg.device
        ) {
          $(".485_param_select").removeClass("d-none");
          $(".485_content").removeClass("d-none");
          $(".404_gif").addClass("d-none");
          let rs485_container = $(`#container_${received_msg.device}`);
          rs485_container.removeClass("d-none");
          await make_live_rs485_chart(received_msg.frame);
          await populate_param_select_rs485(received_msg.frame);
          if (!$("#connection_label").text().includes("RS485 |")) {
            if ($("#connection_label").text() == "None") {
              $("#connection_label").text("RS485 | ");
            } else {
              $("#connection_label").append("RS485 | ");
            }
          }
        }
        if ( received_msg.action == "graph_received" && received_msg.device && received_msg.image_base64 && received_msg.df_html ) {
          const blob = new Blob([received_msg.df_csv], { type: 'text/csv' });
          const a = document.createElement('a');
          a.download = 'exported_table.csv';
          a.href = window.URL.createObjectURL(blob);
          a.classList.add('btn')
          a.classList.add('btn-dark')
          a.textContent = 'Export'

          let chart_container = $("#chart_container_rs485");
          chart_container
            .find("img")
            .attr("src", "data:image/png;base64," + received_msg.image_base64);
          let df_container = $("#stats_df_container_rs485");
          df_container.addClass('flex-column')
          df_container.html(received_msg.df_html);
          df_container.css("justify-content", "start");
          df_container.append(a)
        }
        if(received_msg.action == "no_data"){
          $("#chart_container_rs485").find("img").attr("src",`${window.location.origin}/media/no_data.svg`);
          $("#stats_df_container_rs485").find("img").attr("src",`${window.location.origin}/media/no_data.svg`);
        }
      };

      ws_serial_communcation_rs485.onclose = async function () {};
    } else {
      alert("WebSocket NOT supported by your Browser!");
    }
  }
</script>
<script>
  async function populate_param_select_rs485(frame) {
    if (
      JSON.stringify(current_rs485_frame) != JSON.stringify(Object.keys(frame))
    ) {
      let select_element_rs485 = $("#parameters_select_rs485");
      select_element_rs485.html("");
      for (i in frame) {
        if (i != "RTC") {
          let option_el = $(`<option value='${i}'>${i}</option>`);
          select_element_rs485.append(option_el);
        }
      }
      current_rs485_frame = Object.keys(frame);
    }
  }
</script>
<script>
  function getRandomColor() {    
    var randomColor = Math.floor(Math.random() * 16777215).toString(16);
    while (randomColor.length < 6) {
        randomColor = '0' + randomColor;
    }    
    return '#' + randomColor;
}
  async function add_range_elements() {
    $("#add_windrose_range_container").hide();
    $("#get_windrose_button").removeClass("d-none");
    let range_count_el = parseInt($("#range_element_count").val());
    if (range_count_el > 1) {
      let wind_range_container = $("#wind_range_el_container");
      for (let i = 0; i < range_count_el; i++) {
        let range_el_boiler_plate = `<div class="mb-3" id="wind_range_${i}_container">
                    <div class="row">
                        <div class="col-1">
                            <label for="exampleInputEmail1" class="form-label" id="wind_range_${i}_min_label">-</label>
                        </div>
                        <div class="col-6">
                            <input type="range" class="form-range" min="0" max="100" id="wind_range_${i}" onchange="range_value_updated(event)" required>
                        </div>
                        <div class="col-1">
                            <label for="exampleInputEmail1" class="form-label" id="wind_range_${i}_max_label">-</label>
                        </div>
                        <div class="col-4">
                            <input type="color" class="form-control form-control-color" id="wind_range_${i}_color" value="${getRandomColor()}" title="Choose your color">
                        </div>
                    </div>                                        
                </div>`;
        wind_range_container.append(range_el_boiler_plate);
      }
    }
  }
</script>
<script>
  async function range_value_updated(event) {
    let range_el = $(event.target);
    let range_id = range_el.attr("id");
    // set min max label
    let min_label = $(`#${range_id}_min_label`).text(range_el.attr("min"));
    let max_label = $(`#${range_id}_max_label`).text(event.target.value);
    const id_no = parseInt(range_id.match(/\d+/)[0]);
    // make previous element readonly
    $(`#wind_range_${id_no - 1}`).prop("disabled", true);
    // adjust next element's min attr
    let next_el = $(`#wind_range_${id_no + 1}`);
    let min_val_for_next = parseInt(event.target.value);
    next_el.attr("min", min_val_for_next);
    next_el.attr("max", min_val_for_next + 100);
  }
  async function windrose_range_changed(event) {
    let el = event.target;
    let el_id = event.target.getAttribute("id");
    let min_el_id = $(`#${el_id}_min_label`).text(
      `${el.getAttribute("min")} km/h`
    );
    let max_el_id = $(`#${el_id}_max_label`).text(`${el.value} km/h`);
  }
  async function windrose_form_submitted(event) {
    event.preventDefault();
    const form = event.target;
    const rangeInputs = form.querySelectorAll('input[type="range"]');
    const colorInputs = form.querySelectorAll('input[type="color"]');
    console.log(colorInputs);
    let RangeElementValues = [0];
    let ColorElementValues = [];
    rangeInputs.forEach(function (input, index) {
      RangeElementValues.push(parseInt(input.value));
    });
    colorInputs.forEach(function (input, index) {
      ColorElementValues.push(input.value);
    });
    ColorElementValues.push("#000000");
    await get_windrose_chart_rs485(RangeElementValues, ColorElementValues);
    // $("#windrose_form_container").addClass("d-none");
  }
  async function parameters_select_rs485_changed(event) {
    currently_showring_chart = event.target.value;
    $("#currently_showing_header_rs485").text(
      weatherData[currently_showring_chart][0]
    );
    $("#currently_showing_param_icon_rs485").attr(
      "src",
      weatherData[currently_showring_chart][1]
    );
    rs485_live_chart = null;
    rs_485_chart_data = {
      labels: [],
      datasets: [],
    };
  }
</script>
