{% load static %}
<div class="col-lg-12 mb-4" id="container_rs485">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
    >
      <h6 class="m-0 font-weight-bold text-primary">RS485</h6>
      <select
        class="form-select w-50 485_param_select d-none"
        aria-label="parameters_select"
        id="parameters_select_rs485"
        oninput="parameters_select_rs485_changed(event)"
      ></select>
    </div>
    <!-- Card Body -->
    <div class="rs485-body">
      <div class="card-body">
        <div class="404_gif text-center">
          <img src='{% static "assets/gifs/404.gif" %}' style="height:100%; width: 100%; max-width:500px;max-height: 500px;" alt="" srcset="" />
        </div>
        <div class="485_content d-none">
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-body">
                  <div
                    class="chart-area d-flex"
                    style="justify-content: center; align-items: center"
                  >
                    <canvas
                      id="rs485live_data"
                      style="width: 100%; height: auto"
                    ></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div
                class="card bg-light shadow mb-4"
                id="currently_showing_params_rs485"
              >
                <!-- Card Header - Dropdown -->
                <div class="card-body">
                  <div class="card-header" id="currently_showing_header_rs485">
                    Barometric Pressure
                  </div>
                  <div class="card-body">
                    <div class="row" style="align-items: center">
                      <div class="col-6">
                        <img
                          id="currently_showing_param_icon_rs485"
                          src="media/icons/BPRS.png"
                          alt=""
                          style="width: 100%; height: auto"
                        />
                      </div>
                      <div class="col-6 text-center">
                        <h1
                          style="font-size: 3rem; font-weight: 1000"
                          id="currently_showing_param_value_rs485"
                        ></h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Plot -->
            <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
            >
              <div
                class="btn-group row w-100"
                role="group"
                aria-label="Basic mixed styles example"
              >
                <select
                  class="form-select col-12 text-center btn-outline-danger"
                  aria-label="Default select example"
                  onchange="states_config_changed(event)"
                  autocomplete="off"
                >
                  <option value="line_chart" selected>
                    Select Visulization Format
                  </option>
                  <option value="line_chart">Line</option>
                  <option value="WindRose">WindRose - WSPDxWDIR</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <script>
                  async function states_config_changed(event) {
                    let value = event.target.value;
                    $(".chart_forms").addClass("d-none");
                    if (value == "WindRose") {
                      await show_windrose_form();
                    }
                    if (value == "line_chart") {
                      await show_line_form();
                    }
                  }
                </script>
                <!-- <button type="button" class="col-12 btn btn-outline-danger" onclick="get_windrose_chart_rs485()">Wind Rose</button> -->
              </div>
            </div>
            <div
              class="col-xl-12 col-lg-12 mt-4 d-none chart_forms"
              id="windrose_form_container"
            >
              <div class="card shadow mb-4 text-center">
                <!-- Card Header - Dropdown -->
                <!-- Card Body -->
                <div class="card-body">
                  <form
                    id="windrose_customization"
                    onsubmit="windrose_form_submitted(event)"
                  >
                    <div class="mb-3" id="wind_range_count_container">
                      <div
                        class="input-group mb-3"
                        id="add_windrose_range_container"
                      >
                        <input
                          type="number"
                          class="form-control"
                          min="0"
                          max="8"
                          step="1"
                          placeholder="Specify Number Of Range Elements"
                          aria-describedby="basic-addon2"
                          id="range_element_count"
                          required
                        />
                        <span
                          class="btn btn-danger"
                          id="range-count-btn"
                          onclick="add_range_elements()"
                          >Add</span
                        >
                      </div>
                    </div>
                    <div class="mb-3" id="wind_range_el_container"></div>
                    <div class="mb-3 d-none" id="get_windrose_button">
                      <button type="submit" class="btn btn-primary w-100">
                        Get Windrose
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div
              class="col-xl-12 col-lg-12 mt-4 d-none chart_forms"
              id="line_form_container"
            >
              <div class="card shadow mb-4 text-center">
                <!-- Card Header - Dropdown -->
                <!-- Card Body -->
                <div class="card-body">
                  <div
                    class="input-group mb-3 align-items-center justify-content-center line_chart_checkboxed"
                  >
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlinecheckboxAll"
                        value="select_all"
                        onclick="line_chart_checkboxes(this)"
                      />
                      <label class="form-check-label" for="inlineCheckbox1"
                        >Select All</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlinecheckboxDWPT"
                        value="DWPT"
                        onclick="line_chart_checkboxes(this)"
                      />
                      <label class="form-check-label" for="inlineCheckbox1"
                        >DWPT</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlinecheckboxWDCH"
                        value="WDCH"
                        onclick="line_chart_checkboxes(this)"
                      />
                      <label class="form-check-label" for="inlineCheckbox2"
                        >WDCH</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlinecheckboxBPRS"
                        value="BPRS"
                        onclick="line_chart_checkboxes(this)"
                      />
                      <label class="form-check-label" for="inlineCheckbox2"
                        >BPRS</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlinecheckboxHUMD"
                        value="HUMD"
                        onclick="line_chart_checkboxes(this)"
                      />
                      <label class="form-check-label" for="inlineCheckbox2"
                        >HUMD</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlinecheckboxSRAD"
                        value="SRAD"
                        onclick="line_chart_checkboxes(this)"
                      />
                      <label class="form-check-label" for="inlineCheckbox2"
                        >SRAD</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlinecheckboxATMP"
                        value="ATMP"
                        onclick="line_chart_checkboxes(this)"
                      />
                      <label class="form-check-label" for="inlineCheckbox2"
                        >ATMP</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlinecheckboxWSPD"
                        value="WSPD"
                        onclick="line_chart_checkboxes(this)"
                      />
                      <label class="form-check-label" for="inlineCheckbox2"
                        >WSPD</label
                      >
                    </div>
                  </div>
                  <button
                    class="btn btn-outline-dark d-block w-100"
                    onclick="get_the_line_chart()"
                  >
                    Get The Chart
                  </button>
                  <script>
                    async function line_chart_checkboxes(el) {
                      if (el.value == "select_all") {
                        if ($(el).prop("checked") == false) {
                          $(
                            '.line_chart_checkboxed input[type="checkbox"]'
                          ).prop("checked", false);
                        } else {
                          $(
                            '.line_chart_checkboxed input[type="checkbox"]'
                          ).prop("checked", true);
                        }
                      }
                    }
                    async function get_the_line_chart() {
                      selected_params = [];
                      $('.line_chart_checkboxed input[type="checkbox"]').each(
                        (i, el) => {
                          if ($(el).prop("checked")) {
                            if ($(el).val() !== "select_all") {
                              selected_params.push($(el).val());
                            }
                          }
                        }
                      );
                      if (ws_serial_communcation_rs485) {
                        ws_serial_communcation_rs485.send(
                          JSON.stringify({
                            client: "consumer",
                            action: "get_line_chart",
                            device: "rs485",
                            params: selected_params,
                          })
                        );
                        $("#chart_container_rs485")
                          .find("img")
                          .attr(
                            "src",
                            `${window.location.origin}/media/loading.gif`
                          );
                        $("#stats_df_container_rs485")
                          .find("img")
                          .attr(
                            "src",
                            `${window.location.origin}/media/loading.gif`
                          );
                        $("#line_form_container").addClass("d-none");
                      }
                    }
                  </script>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <!-- Card Body -->
                <div class="card-body">
                  <div
                    class="chart-area d-flex"
                    style="justify-content: center; align-items: center"
                    id="chart_container_rs485"
                  >
                    <img
                      src='{% static "img/pie_chart.png" %}'
                      alt=""
                      id="no_plot_svg"
                      style="width: auto; height: 100%"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->

                <!-- Card Body -->
                <div class="card-body">
                  <div
                    class="chart-area d-flex"
                    style="justify-content: center; overflow: scroll"
                    id="stats_df_container_rs485"
                  >
                    <img
                      src='{% static "img/pie_chart.png" %}'
                      alt=""
                      id="no_plot_svg"
                      style="width: auto; height: 100%"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- Plot -->
            <script>
              async function show_windrose_form() {
                $("#windrose_form_container").removeClass("d-none");
                await get_windrose_chart_rs485(false, false);
              }
              async function show_line_form() {
                $("#line_form_container").removeClass("d-none");
              }
              async function get_windrose_chart_rs485(values, colors) {
                if (ws_serial_communcation_rs485) {
                  ws_serial_communcation_rs485.send(
                    JSON.stringify({
                      client: "consumer",
                      device: "rs485",
                      action: "get_windrose",
                      device: "rs485",
                      values: values,
                      colors: colors,
                    })
                  );
                }
                $("#chart_container_rs485")
                  .find("img")
                  .attr("src", `${window.location.origin}/media/loading.gif`);
                $("#stats_df_container_rs485")
                  .find("img")
                  .attr("src", `${window.location.origin}/media/loading.gif`);
              }
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  //var uniqueColors = ['red','blue','green','purple','orange','cyan','pink','magenta','yellow','brown','teal','olive','navy','lime','maroon','gold'];
  var weatherData = {
    WSPD: ["Wind Speed", `${window.location.origin}/media/icons/WSPD.png`],
    WDIR: ["Wind Direction", `${window.location.origin}/media/icons/WDIR.jpg`],
    ATMP: ["Air Temperature", `${window.location.origin}/media/icons/ATMP.jpg`],
    HUMD: [
      "Relative Humidity",
      `${window.location.origin}/media/icons/HUMD.jpg`,
    ],
    RAIN: ["Rainfall", `${window.location.origin}/media/icons/RAIN.png`],
    SRAD: ["Solar Radiation", `${window.location.origin}/media/icons/SRAD.png`],
    BPRS: [
      "Barometric Pressure",
      `${window.location.origin}/media/icons/BPRS.png`,
    ],
    WDCH: ["Wind Chill", `${window.location.origin}/media/icons/WDCH.png`],
    DWPT: [
      "Dew Point Temperature",
      `${window.location.origin}/media/icons/DWPT.png`,
    ],
    P12: ["Parameter 12", `${window.location.origin}/media/icons/default.png`],
    P13: ["Parameter 13", `${window.location.origin}/media/icons/default.png`],
    P14: ["Parameter 14", `${window.location.origin}/media/icons/default.png`],
    P15: ["Parameter 15", `${window.location.origin}/media/icons/default.png`],
    P16: ["Parameter 16", `${window.location.origin}/media/icons/default.png`],
  };
  var rs485_live_chart = null;
  var currently_showring_chart = null;
  var current_rs485_frame = null;
  var rs_485_chart_data = {
    labels: [],
    datasets: [],
  };
  async function make_live_rs485_chart(stream) {
    if (rs485_live_chart == null) {
      currently_showring_chart =
        currently_showring_chart == null ? "BPRS" : currently_showring_chart;
      for (let i in stream) {
        if (i == "RTC") {
          let date = new Date(stream[i]);
          let minutes = date.getMinutes();
          let seconds = date.getSeconds();
          rs_485_chart_data.labels.push(`${minutes}:${seconds}`);
        } else {
          if (i == currently_showring_chart) {
            $("#currently_showing_param_value_rs485").text(stream[i]);
            let obj = {
              label: currently_showring_chart,
              borderColor: "red",
              data: [stream[i]],
              fill: false,
            };
            rs_485_chart_data.datasets.push(obj);
          }
        }
      }
      var chartOptions = {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          x: {
            scaleLabel: {
              display: true,
              labelString: "X-axis",
            },
          },
          y: {
            scaleLabel: {
              display: true,
              labelString: "Y-axis",
            },
          },
        },
      };
      var ctx = document.getElementById("rs485live_data").getContext("2d");
      rs485_live_chart = new Chart(ctx, {
        type: "line",
        data: rs_485_chart_data,
        options: chartOptions,
      });
    } else {
      let rs485keys = Object.keys(stream);
      for (var index in rs485keys) {
        var key = rs485keys[index];
        var value = stream[key];
        if (key != "RTC") {
          if (
            rs485_live_chart.data.datasets[0] &&
            key == currently_showring_chart
          ) {
            $("#currently_showing_param_value_rs485").text(value);
            rs485_live_chart.data.datasets[0].data.push(value);
            if (rs485_live_chart.data.datasets[0].data.length > 5) {
              rs485_live_chart.data.datasets[0].data.shift();
            }
          }
        } else {
          let date = new Date(value);
          let minutes = date.getMinutes();
          let seconds = date.getSeconds();
          rs485_live_chart.data.labels.push(`${minutes}:${seconds}`);
        }
      }
      if (rs485_live_chart.data.labels.length > 5) {
        rs485_live_chart.data.labels.shift();
      }
      rs485_live_chart.update();
    }
  }
  async function SerialCommunicationRS485() {
    if ("WebSocket" in window) {
      // Let us open a web socket
      ws_serial_communcation_rs485 = new WebSocket(
        `wss://${window.location.host}/ws/serial_communication/`
      );

      ws_serial_communcation_rs485.onopen = async function () {
        ws_serial_communcation_rs485.send(
          JSON.stringify({
            client: "consumer",
            device: "rs485",
            action: "connection",
          })
        );
      };

      ws_serial_communcation_rs485.onmessage = async function (evt) {
        let received_msg = JSON.parse(evt.data);
        if (
          received_msg.action == "stream" &&
          received_msg.frame &&
          received_msg.device
        ) {
            $('.485_param_select').removeClass('d-none')
            $('.485_content').removeClass('d-none')
            $('.404_gif').addClass('d-none')
          let rs485_container = $(`#container_${received_msg.device}`);
          rs485_container.removeClass("d-none");
          await make_live_rs485_chart(received_msg.frame);
          await populate_param_select_rs485(received_msg.frame);
          if (!$("#connection_label").text().includes("RS485 |")) {
            if ($("#connection_label").text() == "None") {
              $("#connection_label").text("RS485 | ");
            } else {
              $("#connection_label").append("RS485 | ");
            }
          }
        }
        if (
          received_msg.action == "graph_received" &&
          received_msg.device &&
          received_msg.image_base64 &&
          received_msg.df_html
        ) {
          let chart_container = $("#chart_container_rs485");
          chart_container
            .find("img")
            .attr("src", "data:image/png;base64," + received_msg.image_base64);
          let df_container = $("#stats_df_container_rs485");
          df_container.html(received_msg.df_html);
          df_container.css("justify-content", "start");
        }
      };

      ws_serial_communcation_rs485.onclose = async function () {};
    } else {
      alert("WebSocket NOT supported by your Browser!");
    }
  }
</script>
<script>
  async function populate_param_select_rs485(frame) {
    if (
      JSON.stringify(current_rs485_frame) != JSON.stringify(Object.keys(frame))
    ) {
      let select_element_rs485 = $("#parameters_select_rs485");
      select_element_rs485.html("");
      for (i in frame) {
        if (i != "RTC") {
          let option_el = $(`<option value='${i}'>${i}</option>`);
          select_element_rs485.append(option_el);
        }
      }
      current_rs485_frame = Object.keys(frame);
    }
  }
  async function parameters_select_rs485_changed(event) {
    currently_showring_chart = event.target.value;
    $("#currently_showing_header_rs485").text(
      weatherData[currently_showring_chart][0]
    );
    $("#currently_showing_param_icon_rs485").attr(
      "src",
      weatherData[currently_showring_chart][1]
    );
    rs485_live_chart = null;
    rs_485_chart_data = {
      labels: [],
      datasets: [],
    };
  }
</script>
<script>
  async function add_range_elements() {
    $("#add_windrose_range_container").hide();
    $("#get_windrose_button").removeClass("d-none");
    let range_count_el = parseInt($("#range_element_count").val());
    if (range_count_el > 1) {
      let wind_range_container = $("#wind_range_el_container");
      for (let i = 0; i < range_count_el; i++) {
        let range_el_boiler_plate = `<div class="mb-3" id="wind_range_${i}_container">
                    <div class="row">
                        <div class="col-1">
                            <label for="exampleInputEmail1" class="form-label" id="wind_range_${i}_min_label">-</label>
                        </div>
                        <div class="col-6">
                            <input type="range" class="form-range" min="0" max="100" id="wind_range_${i}" onchange="range_value_updated(event)" required>
                        </div>
                        <div class="col-1">
                            <label for="exampleInputEmail1" class="form-label" id="wind_range_${i}_max_label">-</label>
                        </div>
                        <div class="col-4">
                            <input type="color" class="form-control form-control-color" id="wind_range_${i}_color" value="#563d7c" title="Choose your color">
                        </div>
                    </div>                                        
                </div>`;
        wind_range_container.append(range_el_boiler_plate);
      }
    }
  }
</script>
<script>
  async function range_value_updated(event) {
    let range_el = $(event.target);
    let range_id = range_el.attr("id");
    // set min max label
    let min_label = $(`#${range_id}_min_label`).text(range_el.attr("min"));
    let max_label = $(`#${range_id}_max_label`).text(event.target.value);
    const id_no = parseInt(range_id.match(/\d+/)[0]);
    // make previous element readonly
    $(`#wind_range_${id_no - 1}`).prop("disabled", true);
    // adjust next element's min attr
    let next_el = $(`#wind_range_${id_no + 1}`);
    let min_val_for_next = parseInt(event.target.value);
    next_el.attr("min", min_val_for_next);
    next_el.attr("max", min_val_for_next + 100);
  }
  async function windrose_range_changed(event) {
    let el = event.target;
    let el_id = event.target.getAttribute("id");
    let min_el_id = $(`#${el_id}_min_label`).text(
      `${el.getAttribute("min")} km/h`
    );
    let max_el_id = $(`#${el_id}_max_label`).text(`${el.value} km/h`);
  }
  async function windrose_form_submitted(event) {
    event.preventDefault();
    const form = event.target;
    const rangeInputs = form.querySelectorAll('input[type="range"]');
    const colorInputs = form.querySelectorAll('input[type="color"]');
    console.log(colorInputs);
    let RangeElementValues = [0];
    let ColorElementValues = [];
    rangeInputs.forEach(function (input, index) {
      RangeElementValues.push(parseInt(input.value));
    });
    colorInputs.forEach(function (input, index) {
      ColorElementValues.push(input.value);
    });
    ColorElementValues.push("#000000");
    await get_windrose_chart_rs485(RangeElementValues, ColorElementValues);
    $("#windrose_form_container").addClass("d-none");
  }
</script>
