<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONSUMER</title>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <script src="{% static 'js/sb-admin-2.min.js' %}" async></script>   
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>    
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">        
    <link rel="stylesheet" href="{% static '/css/w3.css' %}">
</head>
<style>
    *{
        line-height: normal !important;
    }    
</style>
<script>
    // Globals
    var PanelConsumer = null
    var PanelPrograms = null    
    var CurrentSetTimeout = null
</script>
<style>
    .clock {
      width: 100%;
      height: 100%;
      background:white;
      background-size: cover;      
      border-radius: 50%;
      position: relative;
  }
  
  .hr,
  .min,
  .sec {
      width: 5%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
      transform-origin: bottom;
      z-index: 2;
      border-radius: 2em;
  }
  
  .pin {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 1em;
      height: 1em;
      background: black;
      border: 2px solid #ffffff;
      border-radius: 10em;
      margin: auto;
      z-index: 10;
  }
  
  /* Different length of different hands of clock */        
  .hr {
      height: 30%;
      background-color: #ff0000;
  }
  
  .min {
      height: 45%;
      background-color: #ff9900;
  }
  
  .sec {
      height: 60%;
      background-color: #99ff00;
      transform-origin: 50% 85%;
  }
  </style>
<style>
    /* For WebKit browsers */

</style>
<body style="background:black; margin:0 !important; padding:0 !important;">
    <div class="main">
        <div id="led-panel-container" style="color:white;width: 5.08cm;height: 4.23cm;margin: 0 !important;padding: 0 !important;position: fixed;left: 0;"></div>
    </div>
    <script>
        $('.ui-resizable-handle').remove() 
    </script>
    <script>
        async function StartPanelConsumer(){
            if ("WebSocket" in window) {
                PanelConsumer = new WebSocket(`ws://${window.location.host}/panel_changed_events/`);
                PanelConsumer.onopen = async function() {  
                    PanelConsumer.send(JSON.stringify({            
                        client:'consumer',
                        page:'consumer',
                        action:'connection'
                    }));
                };
                PanelConsumer.onmessage = async function (evt) { 
                    let received_msg = JSON.parse(evt.data);
                    console.log(received_msg)
                    if(received_msg.action == 'connected'){
                        PanelConsumer.send(JSON.stringify({
                            client:'consumer',
                            page:'consumer',
                            action:'get_panel_configs'
                        }))
                    }
                    if(received_msg.action == 'configs_changed' && received_msg.program_data){
                        PanelPrograms = JSON.parse(received_msg.program_data)
                        clearTimeout(CurrentSetTimeout);
                        await displayProgram(PanelPrograms)                        
                    }
                };
                PanelConsumer.onclose = async function() {
                    PanelConsumer = null
                    console.log("Connection Closed")                     
                };
            }else {                  
                alert("WebSocket NOT supported by your Browser!");
             }
        }
    </script>
    <script>        
        async function displayProgram(PanelPrograms,currentProgramIndex = 0) {   
            const programDisplay = $("#led-panel-container");
            if (currentProgramIndex >= PanelPrograms.length) {
                currentProgramIndex = 0;
            }

            const program = PanelPrograms[currentProgramIndex];
            let program_element = $(program.fields.panel_code)
            program_element.css('border','none')
            program_element.css('position','fixed')
            program_element.css('top','-5px')
            program_element.css('margin-top','2px')
            program_element.css('left','0')            
            programDisplay.html(program_element)            
            
            if(PanelPrograms.length > 1){
                CurrentSetTimeout = setTimeout(() => {                
                    currentProgramIndex++;
                    displayProgram(PanelPrograms,currentProgramIndex);
                }, program.fields.running_time * 1000);
            }
        }        
    </script>
    <script>
        setInterval(function() {
        if (PanelConsumer === null || PanelConsumer.readyState === WebSocket.CLOSED) {
            console.log('Trying to connect');
            StartPanelConsumer();
        } else {
            console.log('Connected');
        }
    }, 5000);
    </script>
    <script>
        window.onload = function() {
            StartPanelConsumer();
        };
    </script>
    <script> 
        async function showTime(){
            var date = new Date();
            var h = date.getHours(); // 0 - 23
            var m = date.getMinutes(); // 0 - 59
            var s = date.getSeconds(); // 0 - 59
            var session = "AM";
            
            if(h == 0){
                h = 12;
            }
            
            if(h > 12){
                h = h - 12;
                session = "PM";
            }
            
            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;
            
            var time = h + ":" + m + ":" + s + " " + session;
            $('#clock_output_inner_div').text(time);
            setTimeout(showTime, 1000);
            
        }
        showTime();               
</script>
<script>
        
    async function updateClock() {
        const hrs = document.querySelectorAll('.hr');
        const mins = document.querySelectorAll('.min');
        const secs = document.querySelectorAll('.sec');
      const day = new Date();
      const hour = day.getHours();
      const minutes = day.getMinutes();
      const seconds = day.getSeconds();

      const hrRotation = (30 * hour) + (0.5 * minutes);
      const minRotation = 6 * minutes;
      const secRotation = 6 * seconds;

      hrs.forEach(hr => {
        hr.style.transform = `translate(-50%, -100%) rotate(${hrRotation}deg)`;
      });

      mins.forEach(min => {
        min.style.transform = `translate(-50%, -100%) rotate(${minRotation}deg)`;
      });

      secs.forEach(sec => {
        sec.style.transform = `translate(-50%, -85%) rotate(${secRotation}deg)`;
      });
    }

    updateClock();
    setInterval(updateClock, 1000);

  </script>
</body>
</html>