{% extends "base.html" %}
{% load static %}
{% block title %}
  Controller
{% endblock title %}
{% block content %}
<script>
    //Globals
   var ws_rs232 = null
   var ws_rs485 = null    
   var ws_program_and_elements = null
   var ws_panel_changed_events = null
   var program_counter = 0
   var program_lists = []
   var program_names = []
   var program_running_time = {}
</script>
<div class="container-fluid">
    <!-- Page Heading -->    
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Controller</h1>        
    </div>
    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        {% include "dashboard/connections_header.html" %}

        <script type = "text/javascript">
            async function reviewConnections(Connections){
                let connection_label = document.getElementById('connection_label')
                let ConnectionString = ''
                for(let i in Connections){                    
                    if(Connections[i] === true){
                        ConnectionString += `${i} | `
                    }
                }
                if (ConnectionString.length == 0) ConnectionString = 'No Device Connected'
                connection_label.textContent = ConnectionString
            }
            var Connections = {
                RS232:false,
                RS485:false
            }
            async function WebSocketTestRS232() {
               if ("WebSocket" in window) {
                  // Let us open a web socket
                  ws_rs232 = new WebSocket(`ws://${window.location.host}/serial_communication_rs232/`);
                  ws_rs232.onopen = async function() {
                    Connections.RS232 = true
                    await reviewConnections(Connections)
                    ws_rs232.send(JSON.stringify({            
                        client:'dashboard',
                        page:'analytics'
                    }));
                  };
                   
                  ws_rs232.onmessage = async function (evt) { 
                     let received_msg = JSON.parse(evt.data);
                     console.log(received_msg)
                  };
                   
                  ws_rs232.onclose = async function() {
                    Connections.RS232 = false
                    await reviewConnections()
                    console.log("Connection Closed")                     
                  };
               } else {                  
                  alert("WebSocket NOT supported by your Browser!");
               }
            }
            async function WebSocketTestRS485() {
               
                if ("WebSocket" in window) {
                   // Let us open a web socket
                   ws_rs485 = new WebSocket(`ws://${window.location.host}/serial_communication_rs485/`);
                    
                   ws_rs485.onopen = async function() {  
                    Connections.RS485 = true
                    await reviewConnections(Connections)
                    ws_rs485.send(JSON.stringify({            
                        client:'dashboard',
                        page:'analytics'
                    }));
                   };
                    
                   ws_rs485.onmessage = async function (evt) { 
                    let received_msg = JSON.parse(evt.data);
                    console.log(received_msg)
                   };
                    
                   ws_rs485.onclose = async function() {
                     Connections.RS485 = false
                     await reviewConnections()
                     console.log("Connection Closed")                     
                   };
                } else {                  
                   alert("WebSocket NOT supported by your Browser!");
                }
             }
             async function PanelChangedEevents(){
                if ("WebSocket" in window) {
                    ws_panel_changed_events = new WebSocket(`ws://${window.location.host}/panel_changed_events/`);
                    ws_panel_changed_events.onopen = async function() {  
                        console.log("Panel Changed Consumer Connected")
                        ws_panel_changed_events.send(JSON.stringify({
                            client:'dashboard',
                            page:'controller',
                            action:'connection'
                        }))
                    };

                    ws_panel_changed_events.onmessage = async function (evt) { 
                        let received_msg = JSON.parse(evt.data);
                    }
                    ws_panel_changed_events.onclose = async function() {
                        await reviewConnections()
                        console.log("Panel Changed Consumer Connected")                     
                      };
                }
                else {                  
                    alert("WebSocket NOT supported by your Browser!");
                }
             }
             async function PorgramsAndElements() {
               
                if ("WebSocket" in window) {
                   // Let us open a web socket
                   ws_program_and_elements = new WebSocket(`ws://${window.location.host}/programs_and_elements/`);
                    
                   ws_program_and_elements.onopen = async function() {  
                        ws_program_and_elements.send(JSON.stringify({
                            client:'dashboard',
                            page:'controller',
                            action:'get_programs'
                        }))
                        console.log("Connected")
                   };
                    
                   ws_program_and_elements.onmessage = async function (evt) { 
                    let received_msg = JSON.parse(evt.data);
                    console.log(received_msg)
                    if(received_msg.action == 'add_program'){
                        if(program_counter == 0){                            
                            program_container.innerHTML = ''
                        }
                        if(received_msg.error == false){
                            program_names.push(received_msg.message)
                            await set_programs_footer()
                            program_container = document.getElementById('program_container')
                            program_content = `<div class="card program_card shadow-custom mb-2" onclick="get_elements_for_program(this,'${received_msg.message}')">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase program_name_container" data-program-name="${received_msg.message}">
                                                ${received_msg.message}</div>                                                        
                                        </div>
                                        <div class="col-auto delete-program-el">
                                            <i class="bi bi-trash2 btn btn-sm btn-outline-danger delete-program-el" onclick="delete_program('${received_msg.message}')"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>`
                            program_container.innerHTML += (program_content)
                            program_counter+=1
                        }else{
                            alert(received_msg.message)
                        }
                    }
                    if(received_msg.action == 'get_programs'){
                        program_names = []
                        if(received_msg.error == false){
                            program_lists = JSON.parse(received_msg.programs)
                            program_container = document.getElementById('program_container')                        
                            if(program_lists){
                                program_counter = program_lists.length                                
                                if (program_lists.length > 0){
                                    program_container.innerHTML = ''
                                    program_lists.forEach((i,e) => {
                                        program_names.push(i.fields.program_name);
                                        program_running_time[i.fields.program_name] = i.fields.running_time
                                        set_programs_footer()                                        
                                        program_content = `<div id="${i.pk}" class="card program_card shadow-custom mb-2" onclick="get_elements_for_program(this,'${i.fields.program_name}')">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col">
                                                        <div class="text-xs font-weight-bold text-primary text-uppercase program_name_container" data-program-name="${i.fields.program_name}">
                                                            ${i.fields.program_name}</div>
                                                    </div>
                                                    <div class="col-auto delete-program-el">
                                                        <i class="bi bi-trash2 btn btn-sm btn-outline-danger delete-program-el" onclick="delete_program('${i.fields.program_name}')"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>`
                                        program_container.innerHTML += (program_content)
                                    })
                                }else{
                                    program_container.innerHTML = '<h6 class="mb-0 text-gray">No Active Porgrams</h6>'
                                }
                            }else{                                                   
                                await set_programs_footer()  
                                program_counter  = 0
                                program_container.innerHTML = '<h6 class="mb-0 text-gray">No Active Porgrams</h6>'
                            }
                        }else{
                            program_container.innerHTML = '<h6 class="mb-0 text-gray">No Active Porgrams</h6>'
                        }
                    }if(received_msg.action == 'delete_programs'){
                        if(received_msg.error == true){
                            alert(received_msg.message)
                        }
                    }if(received_msg.action == 'delete_elements'){
                        if(received_msg.error == true){
                            alert(received_msg.message)
                        }
                    }if(received_msg.action == 'add_element'){
                        if(received_msg.error == false){
                            alert('element added successfully')
                        }else{
                            alert('something went wrong')
                        }
                    }if(received_msg.action == 'get_image_link'){                        
                        if(received_msg.element_name == 'image_element'){
                            await setImageLink(received_msg.image_link)
                        }
                    }if(received_msg.action == 'get_elements'){
                        if(received_msg.error == false){
                            elements = JSON.parse(received_msg.elements)
                            let elements_container = document.getElementById('elements_container')                            
                            elements_container.innerHTML = ''  
                            if(elements != null && elements.length > 0){
                                await add_to_panel(elements,received_msg.program_code,received_msg.program_name,received_msg.animation)
                                let elementContent = ''
                                elements.forEach((i) => {   
                                    if(i.fields.element_name == 'text_element' || i.fields.element_name == 'clock_element'){
                                        elementContent = `
                                    <div class="dropdown">
                                        <div class="card program_card shadow-custom mb-2 dropdown-toggle" style="color:green;" id="elementsdropdown${i.pk}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col">
                                                        <div class="text-xs font-weight-bold text-primary text-uppercase program_name_container" data-id="${i.pk}">
                                                            ${i.fields.element_name}</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="bi bi-trash2 btn btn-sm btn-outline-danger" onclick="delete_element(${parseInt(i.pk)},'${received_msg.program_name}')"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
                                        <div class="w-100 dropdown-menu" aria-labelledby="elementsdropdown${i.pk}">                                            
                                            <div class="row card">
                                                <div class="card-body">
                                                    <div class="col-12 size-slider mb-2"> 
                                                        <label for="customRange3" class="form-label">Font Size</label>
                                                        <input type="range" class="w-100 form-range" min="0" max="1" step="0.1" id="customfontsize${i.pk}" data-element-id="${i.pk}"  oninput="elemetfontsizechanged(event)">
                                                    </div>
                                                    <div class="col-12 wright-slider mb-2"> 
                                                        <label for="customRange3" class="form-label">Font Weight</label>
                                                        <input type="range" class="w-100 form-range" min="0" max="1000" step="100" id="customfontweight${i.pk}" data-element-id="${i.pk}"  onclick="elemetfontweightchanged(event)">
                                                    </div>
                                                    <div class="col-12 btn btn-outline-success mb-2" onclick="updateElementOverall(${i.pk},'${received_msg.program_name}')"}>Send</div>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                    `
                                    }else if(i.fields.element_name == 'image_element'){
                                        elementContent = `<div class="card program_card shadow-custom mb-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col">
                                                        <div class="text-xs font-weight-bold text-primary text-uppercase program_name_container" data-id="${i.pk}">
                                                            ${i.fields.element_name}</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="bi bi-trash2 btn btn-sm btn-outline-danger" onclick="delete_element(${parseInt(i.pk)},'${received_msg.program_name}')"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   `
                                    }
                                    elements_container.innerHTML += elementContent;
                                })
                            }else{
                                await add_to_panel(elements=false,program_code = received_msg.program_code,program_name=received_msg.program_name,animation=received_msg.animation)
                                elements_container.innerHTML = `<div class="card program_card shadow-custom mb-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase program_name_container">
                                                  No Active Elements...Please add some.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
                            }
                        }
                    }
                   };
                    
                   ws_program_and_elements.onclose = async function() {
                     await reviewConnections()
                     console.log("Connection Closed")                     
                   };
                } else {                  
                   alert("WebSocket NOT supported by your Browser!");
                }
             }
         </script>
</div>             
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow-custom mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="font-weight-bold text-primary text-center">LED PANEL</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                </div>
            </div>          
            <!-- Card Body -->
            <div class="card-body">
                
                   
                <!-- 190 * 3 | 160 * 3 -->
                <div class="row" style="align-items:center; justify-content:space-between;">
                {% include "dashboard/program_container.html" %}
                {% include "dashboard/panel_container.html" %}
                {% include "dashboard/elements_container.html" %}
    </div>
            </div>
        </div>
    </div>
</div>
<!-- row -->
<div class="row">
<!-- text element column -->
{% include "dashboard/elements/textElement.html" %}
<!-- text element column -->
<!-- text element column -->
{% include "dashboard/elements/ImageElement.html" %}
<!-- text element column -->
<!-- text element column -->
{% include "dashboard/elements/ClockElement.html" %}
<!-- text element column -->
</div>
</div>
<script>
    window.onload = () => {
        PorgramsAndElements()
        PanelChangedEevents()
        //WebSocketTestRS232();
        //WebSocketTestRS485();
    };    
</script>
<style>
 
</style>
<script>
    async function set_programs_footer(){
        const elements = document.querySelectorAll('.program_footer');
        $('.program_footer').html('<option value="default">Select a program</option>')
        if(program_names.length > 0)   {
            elements.forEach(element => {    
                program_names.forEach(i => {
                    element.innerHTML += `<option value="${i}">${i}</option>`
                })
            }); 
              
        } 
        } 
</script>
<script>
    $( function() {
      $("#program_container").sortable({
        stop:function(event,ui){
            var sortedIds = $(this).sortable('toArray');
            var sortedIds_int = sortedIds.map(function(element) {
                return parseInt(element, 10); // 10 is the radix (base)
            });
            if(ws_panel_changed_events){
                ws_panel_changed_events.send(JSON.stringify({
                    client:'dashboard',
                    page:'controller',
                    action:'sequence_changed',
                    sequence:{'program_sequence':sortedIds_int}
                }))
            }
        }
      });
    } );
    </script>
{% endblock content %}