{% load static %}
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar" style="position: sticky; height:100%; top:0;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon">
            <img src="{% static 'img/GSECL-Logo-removebg-preview (1).png' %}" alt="" style="width: 50%; height: auto;">
        </div>        
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    
        <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link btn collapsed" href="{% url 'analytics' %}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Analytics</span>
        </a>
    </li>
    {% if request.user.is_superuser %}
    <li class="nav-item">
        <a class="nav-link btn collapsed" href="{% url 'register' %}">
            <i class="bi bi-database-add"></i>
            <span>Add User</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn collapsed" href="/admin">
            <i class="bi bi-database-add"></i>
            <span>Admin</span>
        </a>
    </li>                     
    {% endif %}
    <li class="nav-item">
        <a class="nav-link btn collapsed" href="{% url 'logout' %}">
            <i class="bi bi-box-arrow-left"></i>
            <span>Logout</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>    
</ul>