<!-- row -->
<div class="row">
    <div class="col-lg-6 mb-4" id="text_element_container">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">TEXT</h6>                                        
            </div>
                <div class="card-header">
                    <input class="w-100" type="color" oninput="changeTextElementFontColor(event)" id="favcolor" name="favcolor" value="#ff0000">
                </div>
                <div class="card-header dropdown">
                    <button class="w-100 btn btn-outline-primary dropdown-toggle" type="button" id="fontDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Font Family
                    </button>
                    <div class="dropdown-menu" aria-labelledby="fontDropdown">
                        <a class="dropdown-item" href="#" data-font="Arial, sans-serif">Arial</a>
                        <a class="dropdown-item" href="#" data-font="Helvetica, sans-serif">Helvetica</a>
                        <a class="dropdown-item" href="#" data-font="Times New Roman, serif">Times New Roman</a>
                        <a class="dropdown-item" href="#" data-font="Courier New, monospace">Courier New</a>
                        <a class="dropdown-item" href="#" data-font="Verdana, sans-serif">Verdana</a>                        
                    </div>
                </div>
                <div class="card-header dropdown">
                    <select class="form-control form-select" aria-label="Default select example" oninput="text_element_alignment_changed(event)">
                        <option selected value="default">Select Alignment</option>
                        <option value="left">Left</option>
                        <option value="center">Center</option>
                        <option value="right">Right</option>
                        <option value="justify">Justify</option>
                        <script>
                            async function text_element_alignment_changed(event){
                                if(event.target.value !== 'default'){
                                    $('#text_element_container .text_element_output').css('text-align', event.target.value);
                                }
                            }
                        </script>
                      </select>
                </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Enter the text" id="text_element_input" oninput="text_element_changed(event)">
                      <script>
                        async function text_element_changed(event) {                               
                            let inputValue = event.target.value;                                
                            $('#text_element_container .text_element_output').text(inputValue)
                            if(inputValue.length <= 0){
                                $('#text_element_container .text_element_footer').hide()
                            }else{
                                $('#text_element_container .text_element_footer').show()
                            }
                        }
                      </script>
                    </div>
                </div>                
                <div class="row mb-3">
                    <div class="col">
                        <div class="card text_element_output_container article">
                            <div class="card-body text_element_output element" id="text_element_output"></div>
                        </div>
                    </div>
                  </div>
            </div>                        
            <div class="card-footer text_element_footer" style="display: hidden;">
                <script>
                    $(document).ready(function () {
                        // Select the element with class "text_element_footer" and hide it
                        $(this).find('.text_element_footer').hide();
                    });
                </script>
                <div class="form-group">
                    <label for="program_select">Active Programs</label>
                    <div class="send_program_view row " style="justify-content: space-around; gap:10px;">
                        <select class="col-sm-7 col-md-7 col-lg-7 form-control program_footer" id="">
                        </select>
                        <button class="col-sm-3 col-md-3 col-lg-3 btn btn-outline-primary" onclick="text_element_program_value_changed(event)">Send</button>
                    </div>
                </div>        
            </div>            
        </div>
        <script>   
            async function text_element_program_value_changed(event){
                let program_name = $(event.target).parent().find('select').val()                                
                let element_html = $('.text_element_output_container').html()
                if (program_name != 'default'){
                    if(ws_program_and_elements){
                        ws_program_and_elements.send(JSON.stringify({
                            client:'dashboard',
                            page:'controller',
                            action:'add_element',                                
                            'element_name':'text_element',
                            'program_name':program_name,
                            'element_html':element_html
                        }))
                    }
                }
            }                
        </script>
        
    </div>
    </div>
    <script>
        // Get the font selection dropdown item links
        async function changeTextElementFontColor(event){                        
            $('#text_element_container .text_element_output').css('color', event.target.value);
        }
        let fontLinks = document.querySelectorAll('.dropdown-item');
        
        // Get the text container div
        let textContainer = $('#text_element_container .text_element_output');

        // Add an event listener to the dropdown item links
        fontLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                let selectedFont = this.getAttribute('data-font');
                console.log(selectedFont)
                textContainer.css('font-family',selectedFont)
                document.querySelector('#fontDropdown').textContent = this.textContent;
            });
        });
    </script>
    
    <!-- row -->