aiohttp
aioserial
aiosignal
alabaster
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
async-timeout
attrs
autobahn
Automat
Babel
backcall
beautifulsoup4
bidict
black
bleach
certifi
cffi
channels
charset-normalizer
click
comm
constantly
contourpy
cryptography
curio
cycler
daphne
debugpy
decorator
defusedxml
Django
django-admin-interface
django-admin-rangefilter
django-allauth
django-ash
django-autoreload
django-colorfield
django-cors-headers
django-crontab
django-debug-toolbar
django-extensions
django-sslserver
djangorestframework
docrepr
docutils
entrypoints
exceptiongroup
executing
fastjsonschema
fonttools
fqdn
frozenlist
gunicorn
h11
hyperlink
idna
imagesize
incremental
iniconfig
ipykernel
ipyparallel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
notebook
notebook_shim
numpy
oauthlib
outcome
overrides
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
plotly
pluggy
prometheus-client
prompt-toolkit
psutil
psycopg2
ptyprocess
pure-eval
py
pyasn1
pyasn1-modules
pycparser
Pygments
pyinotify
PyJWT
pymemcache
pyOpenSSL
pyparsing
pyserial
pytest
pytest-asyncio
python-dateutil
python-dotenv
python-engineio
python-json-logger
python-memcached
python-slugify
python-socketio
python3-openid
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rpds-py
scipy
Send2Trash
service-identity
simple-websocket
six
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
stack-data
tenacity
terminado
testpath
text-unidecode
tinycss2
toml
tomli
tornado
tqdm
traitlets
trio
Twisted
txaio
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
websocket-server
websockets
widgetsnbextension
windrose
wsproto
XlsxWriter
yarl
zope.interface